:host {
  display: inline;
}
.link {
  color: var(--color-primary);
  text-decoration: none;
  transition: text-decoration 0.2s, color 0.2s;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.link.secondary {
  color: var(--color-text-secondary);
  font-size: var(--font-size-2);
}
.link.secondary:hover {
  text-decoration: underline;
}
