<app-auth-card [title]="'FEATURES.AUTH.SIGNUP.TITLE' | translate">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <app-input
      [label]="'FEATURES.AUTH.SIGNUP.NAME' | translate"
      type="text"
      formControlName="name"
      [required]="true"
      [maxLength]="VALIDATION_RULES.COMPONENTS.ORGANISMS.RECIPE_FORM.NAME_MAX_LENGTH"
      [showCounter]="true"
      [errorMessage]="fieldErrors['name']"
    ></app-input>

    <div class="form-group">
      <app-input
        [label]="'FEATURES.AUTH.SIGNUP.EMAIL' | translate"
        type="email"
        formControlName="email"
        [required]="true"
        [maxLength]="VALIDATION_RULES.EMAIL.MAX_LENGTH"
        [showCounter]="true"
        [errorMessage]="fieldErrors['email']"
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [label]="'FEATURES.AUTH.SIGNUP.PASSWORD' | translate"
        type="password"
        formControlName="password"
        [required]="true"
        [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
        [showCounter]="true"
        [errorMessage]="fieldErrors['password']"
      ></app-input>
    </div>

    <div class="actions">
      <app-button
        variant="primary"
        type="submit"
        class="submit-btn"
        [disabled]="signupForm.invalid"
        >{{ 'FEATURES.AUTH.SIGNUP.SUBMIT' | translate }}</app-button
      >
    </div>

    <app-alert type="error" [message]="errorMessage" class="signup-alert"></app-alert>
  </form>

  <div footer>
    <div class="footer-actions">
      <app-link routerLink="/login">{{ 'FEATURES.AUTH.SIGNUP.GO_TO_LOGIN' | translate }}</app-link>
    </div>
  </div>
</app-auth-card>
