<app-auth-card [title]="'FEATURES.AUTH.SIGNUP.TITLE' | transloco">
  <form [formRoot]="signupForm" (ngSubmit)="onSubmit()">
    <app-input
      [label]="'FEATURES.AUTH.SIGNUP.NAME' | transloco"
      type="text"
      [formField]="signupForm.name"
      [required]="true"
      [maxLength]="100"
      [showCounter]="true"
      [errorMessage]="fieldErrors['name']"
    ></app-input>

    <div class="form-group">
      <app-input
        [label]="'FEATURES.AUTH.SIGNUP.EMAIL' | transloco"
        type="email"
        [formField]="signupForm.email"
        [required]="true"
        [maxLength]="VALIDATION_RULES.EMAIL.MAX_LENGTH"
        [showCounter]="true"
        [errorMessage]="fieldErrors['email']"
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [label]="'FEATURES.AUTH.SIGNUP.PASSWORD' | transloco"
        type="password"
        [formField]="signupForm.password"
        [required]="true"
        [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
        [showCounter]="true"
        [errorMessage]="fieldErrors['password']"
      ></app-input>
    </div>

    <div class="actions">
      <app-button
        variant="primary"
        type="submit"
        class="submit-btn"
        [disabled]="signupForm().invalid()"
        >{{ 'FEATURES.AUTH.SIGNUP.SUBMIT' | transloco }}</app-button
      >
    </div>

    <app-alert type="error" [message]="errorMessage" class="signup-alert"></app-alert>
  </form>

  <div footer>
    <div class="footer-actions">
      <app-link routerLink="/login">{{ 'FEATURES.AUTH.SIGNUP.GO_TO_LOGIN' | transloco }}</app-link>
    </div>
  </div>
</app-auth-card>
