<app-auth-card [title]="'FEATURES.AUTH.RESET_PASSWORD.TITLE' | transloco">
  <form [formRoot]="form" (submit)="onSubmit()">
    <p class="description">
      {{ 'FEATURES.AUTH.REQUEST_PASSWORD_RESET.DESC' | transloco }}
    </p>

    <app-input [label]="'FEATURES.AUTH.LOGIN.EMAIL' | transloco" type="email" [formField]="form.email" [required]="true"
      [maxLength]="200" [showCounter]="true"></app-input>

    <div class="actions">
      <app-button variant="primary" type="submit" class="submit-btn" [disabled]="isLoading() || form().invalid()">
        {{ isLoading() ? ('COMMON.SENDING' | transloco) : ('COMMON.SEND' | transloco) }}
      </app-button>
    </div>

    <app-alert type="success" [message]="message()"></app-alert>
    <app-alert type="error" [message]="errorMessage()"></app-alert>
  </form>

  <div footer>
    <app-link routerLink="/login" class="back-link">
      <app-button variant="text" type="button" class="back-btn">
        {{ 'FEATURES.AUTH.RESET_PASSWORD.BACK_TO_LOGIN' | transloco }}
      </app-button>
    </app-link>
  </div>
</app-auth-card>