<div class="change-password-container">
  <div class="back-link">
    <app-link routerLink="/settings">{{
      'FEATURES.SETTINGS.CHANGE_PASSWORD.BACK_TO_SETTINGS' | transloco
    }}</app-link>
  </div>

  <app-headline level="1">{{ 'FEATURES.SETTINGS.CHANGE_PASSWORD.TITLE' | transloco }}</app-headline>

  <form [formRoot]="form" (submit)="onSubmit()" class="password-form">
    <app-input
      [label]="'FEATURES.SETTINGS.CHANGE_PASSWORD.CURRENT_PASSWORD' | transloco"
      type="password"
      [formField]="form.currentPassword"
      [errorMessage]="getErrorMessage(form.currentPassword)"
      [required]="true"
      [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
    ></app-input>
    <p class="forgot-password-link">
      <app-link routerLink="/password-reset/request">{{
        'FEATURES.AUTH.REQUEST_PASSWORD_RESET.TITLE' | transloco
      }}</app-link>
    </p>

    <app-input
      [label]="'FEATURES.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD' | transloco"
      type="password"
      [formField]="form.newPassword"
      [errorMessage]="getErrorMessage(form.newPassword)"
      [required]="true"
      [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
      [showCounter]="true"
    ></app-input>
    <p class="hint">
      {{
        'FEATURES.SETTINGS.CHANGE_PASSWORD.HINT'
          | transloco: { min: VALIDATION_RULES.PASSWORD.MIN_LENGTH }
      }}
    </p>

    <app-input
      [label]="'FEATURES.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM' | transloco"
      type="password"
      [formField]="form.confirmNewPassword"
      [errorMessage]="getErrorMessage(form.confirmNewPassword)"
      [required]="true"
      [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
    ></app-input>

    <div class="actions">
      <app-button type="submit" [disabled]="form().invalid() || isProcessing()">
        {{
          isProcessing()
            ? ('FEATURES.SETTINGS.CHANGE_PASSWORD.CHANGING' | transloco)
            : ('FEATURES.SETTINGS.CHANGE_PASSWORD.SUBMIT' | transloco)
        }}
      </app-button>
    </div>

    <app-alert type="error" [message]="errorMessage()"></app-alert>
  </form>
</div>
