<div class="change-password-container">
  <div class="back-link">
    <app-link routerLink="/settings">{{ 'FEATURES.SETTINGS.CHANGE_PASSWORD.BACK_TO_SETTINGS' | translate }}</app-link>
  </div>

  <app-headline level="1">{{ 'FEATURES.SETTINGS.CHANGE_PASSWORD.TITLE' | translate }}</app-headline>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="password-form">
    <app-input
      [label]="'FEATURES.SETTINGS.CHANGE_PASSWORD.CURRENT_PASSWORD' | translate"
      type="password"
      formControlName="currentPassword"
      [errorMessage]="getErrorMessage('currentPassword')"
      [required]="true"
      [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
    ></app-input>
    <p class="forgot-password-link">
      <app-link routerLink="/password-reset/request">{{
        'FEATURES.AUTH.REQUEST_PASSWORD_RESET.TITLE' | translate
      }}</app-link>
    </p>

    <app-input
      [label]="'FEATURES.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD' | translate"
      type="password"
      formControlName="newPassword"
      [errorMessage]="getErrorMessage('newPassword')"
      [required]="true"
      [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
      [showCounter]="true"
    ></app-input>
    <p class="hint">
      {{ 'FEATURES.SETTINGS.CHANGE_PASSWORD.HINT' | translate: { min: VALIDATION_RULES.PASSWORD.MIN_LENGTH } }}
    </p>

    <app-input
      [label]="'FEATURES.SETTINGS.CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM' | translate"
      type="password"
      formControlName="confirmNewPassword"
      [errorMessage]="getErrorMessage('confirmNewPassword')"
      [required]="true"
      [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
    ></app-input>

    <div class="actions">
      <app-button type="submit" [disabled]="form.invalid || isProcessing">
        {{
          isProcessing
            ? ('FEATURES.SETTINGS.CHANGE_PASSWORD.CHANGING' | translate)
            : ('FEATURES.SETTINGS.CHANGE_PASSWORD.SUBMIT' | translate)
        }}
      </app-button>
    </div>

    <app-alert type="error" [message]="errorMessage"></app-alert>
  </form>
</div>
