<app-auth-card [title]="'AUTH.LOGIN_BUTTON' | translate">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input
      [label]="'AUTH.EMAIL' | translate"
      type="email"
      formControlName="email"
      [required]="true"
      [maxLength]="VALIDATION_RULES.EMAIL.MAX_LENGTH"
    ></app-input>

    <div class="form-group">
      <app-input
        [label]="'AUTH.PASSWORD' | translate"
        type="password"
        formControlName="password"
        [required]="true"
        [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
      ></app-input>
    </div>

    <div class="actions">
      <app-button variant="primary" type="submit" class="submit-btn" [disabled]="loginForm.invalid">{{ 'AUTH.LOGIN_BUTTON' | translate }}</app-button>
    </div>

    <div class="forgot-password-link">
      <app-link routerLink="/password-reset/request" variant="secondary">
        {{ 'AUTH.FORGOT_PASSWORD' | translate }}
      </app-link>
    </div>

    <app-alert type="error" [message]="errorMessage"></app-alert>
  </form>

  <div footer>
    <a routerLink="/signup" class="no-text-decoration">
      <app-button variant="accent" type="button" class="full-width-btn"
        >{{ 'AUTH.CREATE_ACCOUNT' | translate }}</app-button
      >
    </a>
  </div>
</app-auth-card>
