<app-auth-card [title]="'FEATURES.AUTH.LOGIN.SUBMIT' | transloco">
  <form [formRoot]="loginForm" (submit)="onSubmit()">
    <app-input
      [label]="'FEATURES.AUTH.LOGIN.EMAIL' | transloco"
      type="email"
      [formField]="loginForm.email"
      [required]="true"
      [maxLength]="VALIDATION_RULES.EMAIL.MAX_LENGTH"
    ></app-input>

    <div class="form-group">
      <app-input
        [label]="'FEATURES.AUTH.LOGIN.PASSWORD' | transloco"
        type="password"
        [formField]="loginForm.password"
        [required]="true"
        [maxLength]="VALIDATION_RULES.PASSWORD.MAX_LENGTH"
      ></app-input>
    </div>

    <div class="actions">
      <app-button
        variant="primary"
        type="submit"
        class="submit-btn"
        [disabled]="loginForm().invalid()"
        >{{ 'FEATURES.AUTH.LOGIN.SUBMIT' | transloco }}</app-button
      >
    </div>

    <div class="forgot-password-link">
      <app-link routerLink="/password-reset/request" variant="secondary">
        {{ 'FEATURES.AUTH.REQUEST_PASSWORD_RESET.TITLE' | transloco }}
      </app-link>
    </div>

    <app-alert type="error" [message]="errorMessage()"></app-alert>
  </form>

  <div footer>
    <a routerLink="/signup" class="no-text-decoration">
      <app-button variant="accent" type="button" class="full-width-btn">{{
        'FEATURES.AUTH.LOGIN.GO_TO_SIGNUP' | transloco
      }}</app-button>
    </a>
  </div>
</app-auth-card>
