.tags-section {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-1);
}

.section-label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-secondary);
  display: block;
  margin-bottom: var(--spacing-1);
}

.helper-text {
  font-size: 0.85em;
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-1_5);
  margin-top: 0;
}

.tag-chip-list {
  width: 100%;
}
